/* .keyboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    justify-content: center;
} */

/* .keybutton {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
}*/

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 2em;
}

.keybutton {
    flex: 0 1 calc(9% - 1em); /* 6 items per row, minus gap */
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #f0f0f0;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keybutton.active {
    background-color: #ffd700;
}

.text-output {
    box-sizing: border-box;
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    white-space: pre-wrap;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px auto;
    text-align: left;
}